@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

ul.navbar-menu a {
    color: black !important;
}

ul.navbar-menu a:hover {
    color: orange !important;
}

header {
    box-shadow: 13px 2px 5px 0px rgb(0 0 0 / 75%);
    background-color: #334257 !important;


}


section {
    background-color: #EED6D3;
    padding: 40px 0;
    margin-top: 9rem;
}

form {
    margin-left: 11%;
    margin-right: 20%;
}

.section-container {
    width: 1040px;
    margin-right: auto;
    margin-left: auto;
    padding: 80px;
    background: #A49393;
    box-shadow: 0px 0px 30px 0px gainsboro;
    border-radius: 10px;

}

.section-container h1 {
    margin-top: -61px !important;
    margin-bottom: 59px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.sign h2 {
    text-align: center;
    font-size: 29px;
    font-weight: bolder;
    color: green;
}

.sign h2::after {
    content: "";
    display: flex;
    width: 10%;
    height: 3px;
    background-color: orange;
    margin: 5px auto;
}

div#register {
    margin-top: 5rem;
}

.sign-row {
    display: flex;
    align-items: center;
}

.col-md-10 {
    flex: 84%;
    width: 84%;
}

.col-md-2 {
    flex: 11%;
    width: 100%;
    margin-top: 22px;
}

.col-md-10 h6 {
    color: #545151;
    font-size: 13px;
    margin-top: 0px;
    font-weight: bold;
    margin-bottom: 5px;
}

select {
    width: 100%;
    background: #fdfcfc;
    border-radius: 5px;
    padding: 7px;
    outline: none;
    border: 1px solid #bb2617;
}

.sing-icons i {
    font-size: 33px;
}

.sign-row {
    display: flex;
    align-items: center;
    gap: 3%;
}

.col-md-10 input {
    color: black;
    width: 100%;
    height: 36px;
    background: #fdfcfc;
    outline: none;
    border-radius: 5px;
    padding-left: 12px;
    border: 1px solid #ca4e42;
}

.about {
    margin-bottom: 40px;
}

.sign-button {
    text-align: center;
    flex: 100%;
}

.sign-button button {
    cursor: pointer;
    margin-top: 20px;
    position: relative;
    padding: 0.5rem 5.5rem;
    border-radius: 3.75rem;
    line-height: 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    border: 1px solid #012880;
    background-image: linear-gradient(-180deg, #6b0849 0%, #C01F9E 100%);
    box-shadow: 0 1rem 1.25rem 0 rgb(22 75 195 / 50%), 0 -0.25rem 1.5rem rgb(110 15 155) inset, 0 0.75rem 0.5rem rgb(255 255 255 / 40%) inset, 0 0.25rem 0.5rem 0 rgb(180 70 207) inset;
}

.sign-header {
    background: #E8B4B8 !important;
}

.sign-footer {
    background: #67595E;
}

.sign-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
/* i.fas.fa-users {
    font-size: 27px;
} */

@media screen and (max-width:1066px) {
    .section-container {
        max-width: 827px
    }
    
}

@media screen and (max-width:996px) {

    ul.navbar-menu a {
        color: white !important;
    }

    i.fas.fa-bars {
        color: black !important;
        font-size: 34px;
    }

    .section-container {
        max-width: 90%;
    }

    .section-container {
        max-width: 715px;
    }

    .section-container h1 {

        font-size: 16px;

    }

    .sign-row {
        gap: 30px;
    }

    form {
        margin-left: 0%;
        margin-right: 0%;
    }
}

@media screen and (max-width:768px) {
    .section-container {
        max-width: 600px;
    }

    .section-container {
        max-width: 90%;
    }

    .section-container h1 {
        font-size: 14px;
    }

    .sign h2 {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .sign-row {
        gap:1px;
    }

    form {
        margin-left: 0%;
        margin-right: 0%;
    }
}

@media screen and (max-width:576px) {
    .col-md-10 input {
        font-size: 8px;
    }

    .section-container h1 {
        font-size: 10px;
    }

    .col-md-10 h6 {
        font-size: 9px;

    }

    .sing-icons i {
        font-size: 14px;
    }

    select {
        padding: 2px;

    }

    .section-container {

        margin-right: 3px;
        margin-left: 3px;
        max-width: 98%;
        padding: 26px;
    }

    .section-container h1 {
        margin-top: 0px !important;
        margin-bottom: 59px;
        font-size: 13px;
        font-weight: 500;
        color: #fff;
        text-align: center;
    }

    .sign h2 {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .col-md-2 {
        flex: 3%;
        width: 100%;
        margin-top: 18px;
    }

}