@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
.section-header {
    margin-top: 12%;
    background: #345B63;
    padding: 29px;
    text-align: center;
    font-size: 28px;
    color: #fff;
    box-shadow:         6px 6px 21px 0px rgba(50, 50, 50, 0.75);
}


.section-body {
    padding-top: 7rem;
    padding-bottom: 40px;
    background: #152D35;
}
.card-img img {
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 40% 86%, 0% 86%, 0 85%);
}

.section-body-container {
    margin-right: 15px;
    margin-left: 15px;
}

.section-body-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.section-col-md-3 {
    flex: 20%;
    cursor: pointer;
    transition: .3s;
}
.section-card {
    background: #112031;
    box-shadow: 5px 5px 13px 0px #000000;
    padding: 0 0 24px;
    transition: .3s;
}
.section-card:hover{
    box-shadow: 5px 10px 13px 5px #000000;
}
.card-body h3 {
    color: #fff;
    font-size: 22px;
    margin-top: -25px;
    padding: 0 11px;
}

.card-footer {
    padding: 19px 10px 0px;
}
.card-footer p span {
    color: #faefef;
    font-size: 21px;
}
.card-footer p strong {
    padding: 7px;
    font-size: 22px;
    color: red;
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

body{
    background: #152D35;
}
 .teaching-header{
    background-color: #D4ECDD !important; 
}
.teaching-footer{
    background: #345B63!important;
}